.carousel-inner {
  /* background-size: cover; */
  /* width: 2000px;
  height: 1000px; */
  
    /* z-index: -2; */
    display: block;
    /* position: fixed; */
    /* width: 100%;
    height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
}