/* svg {
  font: 16px "Avenir";
} */

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(80, 80, 179);
  /* background: rgb(0, 123, 255); */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip {
  visibility: visible;
}
