.btn-search {
  width: 115px;
  border-radius: 25px;
}

.box-search {
  vertical-align: middle;
}

.form-inline .form-control {
  width: 100%;
}

.filter-button {
  background-color: white;
  color: #495057;
  border: 2px solid #007bff;
  transition-duration: 0.4s;
  width: auto;
}

.filter-button:hover {
  background-color: #007bff;
  color: white;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
